
* {
 cursor: url(../../imgs/redarrow.png) 0 0 , auto;
}

body {
    background-color: steelblue;
    font-family: babel_sans;
    text-align: center;
}

p{
    position: absolute;
    top: 13vh;
    left: 20vw;
    width: 60vw;
    text-align: justify;
    align-self: center;
    margin-bottom: 10vw;
    cursor: text;
}

h1{
    font-family: RawNotice;
    position: absolute;
    top: 1vh;
    width: 100vw;
}

h1:hover {
    color: yellow;
}

.mouth {
    height: 10%;
    position: fixed;
    left: 85%;
    z-index: 1;
}

@font-face {
    font-family: babel_sans;
    src: url(../../fonts/babel_sans/BabelSans.ttf);
}

@font-face {
    font-family: RawNotice;
    src: url(../../fonts/RawNotice.ttf);
}