
* {
 cursor: url(https://github.com/maggie-needham/blog/releases/download/images/redarrow.png) 0 0 , auto;
}

body {
    background-color: steelblue;
    font-family: babel_sans;
    text-align: center;
}

p{
    position: absolute;
    top: 13vh;
    left: 20vw;
    width: 60vw;
    text-align: justify;
    align-self: center;
    margin-bottom: 10vw;
}

h1{
    font-family: RawNotice;
    position: absolute;
    top: 1vh;
    width: 100vw;
}

.mouth {
    height: 10%;
    position: fixed;
    left: 85%;
    z-index: 1;
}

@font-face {
    font-family: babel_sans;
    src: url(../../fonts/babel_sans/BabelSans.ttf);
}

@font-face {
    font-family: RawNotice;
    src: url(../../fonts/RawNotice.ttf);
}

.jeans {
    display: flex;
    width: 20%;
    margin: auto;
}

.datacenter {
    width: 40%;
    margin: auto;
    display: flex;
}

.salad {
    display: inline; 
    width: 20%;
    margin: 10px;
    margin-left: 8%;
}

.me {
    display: inline;
    width: 20%;
    margin: 10px;
}

.eyes{
    display: inline;
    width: 37%;
    margin: 10px;
}

.ss6 {
    display: flex;
    width: 100%;
    margin: 10px;
}
.ss7 {
    display: flex;
    width: 100%;
    margin: 10px;
}
.ss8 {
    display: flex;
    width: 100%;
    margin: 10px;
}

.memorycloud{
    width: 50%;
    margin: auto;
    display: flex;
}

.insta{
    width: 80%;
    margin: auto;
    display: flex;
}

.bottom_caption {
    position: absolute;
    bottom: 10%; 
}