body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden; 
}

/*  STRIPES */
.one {
    position: absolute; 
    text-align: center; 
    font-size: 30px;
    width: 100vw;
    height: 60px;
    background-color: red;
    left: 0vw;
    top: 0vh;
}

.two {
    position: absolute; 
    width: 100vw;
    height: 60px;
    background-color: yellow;
    left: 0vw;
    top: 60px;

}

.three {
    position: absolute; 
    width: 100vw;
    height: 60px;
    background-color: cyan;
    left: 0vw;
    top: 120px;

}

.four {
    position: absolute; 
    width: 100vw;
    height: 60px;
    background-color: darkorange;
    left: 0vw;
    top: 180px;
}

.five {
    position: absolute; 
    width: 100vw;
    height: 60px;
    background-color:gold;
    left: 0vw;
    top: 240px;
}

.six {
    position: absolute; 
    width: 100vw;
    height: 60px;
    background-color: goldenrod;
    left: 0vw;
    top: 300px;
}

.seven {
    position: absolute; 
    width: 100vw;
    height: 60px;
    background-color:pink;
    left: 0vw;
    top: 360px;
}

.eight {
    position: absolute; 
    width: 100vw;
    height: 60px;
    background-color: red;
    left: 0vw;
    top: 420px;
}

.nine {
    position: absolute; 
    width: 100vw;
    height: 60px;
    background-color:deepskyblue;
    left: 0vw;
    top: 480px;
}

.ten {
    position: absolute; 
    width: 100vw;
    height: 60px;
    background-color:chartreuse;
    left: 0vw;
    top: 540px;
}