body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden; 
    height: 100vh;
    background-color: black;
}

/*  STRIPES */
.one, .two , .three, .four , .five , .six , .seven , .eight , .nine , .ten {
    position: absolute; 
    width: 100vw;
    height: 10vh;
    left: 0vw;
}

.one {
    text-align: center;  
    font-size: 30px;  
    background-color: red;
    top: 0vh; 
}

.two {
    background-color: yellow;
    top: 10vh;
}

.three {
    background-color: cyan;
    top: 20vh;
}

.four {
    background-color: darkorange;
    top: 30vh;
}

.five {
    background-color:gold;
    top: 40vh;
}

.six {
    background-color: goldenrod;
    top: 50vh;
}

.seven {
    background-color:pink;
    top: 60vh;
}

.eight {
    background-color: red;
    top: 70vh;
}

.nine {
    background-color:deepskyblue;
    top: 80vh;
}

.ten {
    background-color:chartreuse;
    top: 90vh;
}

.star {
    position: absolute;
    top: 60vh;
    left: 75vw; 
    width: 20vw;
}