body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden; 
    height: 100vh;
    background-color: red;
}

/*  STRIPES */
.one, .two , .three, .four , .five , .six , .seven , .eight , .nine , .ten, .text {
    position: absolute; 
    width: 100vw;
    height: 10vh;
    left: 0vw;
}

.text {
    margin: 10px;
}
.text:hover {
    color: blue;
}

.one {
    text-align: center;  
    font-size: 30px;  
    background-color: red;
    top: 0vh; 
}

.two {
    background-color: yellow;
    top: 10vh;
}

.three {
    background-color: cyan;
    top: 20vh;
}

.four {
    background-color: darkorange;
    top: 30vh;
}

.five {
    background-color:gold;
    top: 40vh;
}

.six {
    background-color: goldenrod;
    top: 50vh;
}

.seven {
    background-color:pink;
    top: 60vh;
}

.eight {
    background-color: red;
    top: 70vh;
}

.nine {
    background-color:deepskyblue;
    top: 80vh;
}

.ten {
    background-color:chartreuse;
    top: 90vh;
}

@keyframes spinBaby {
  0% {rotate: 0deg;}
  100% {rotate: 360deg;}
}

img {
    position: fixed;
    top: 60vh;
    left: 75vw; 
    width: 20vw;
}

img:hover{
    /** Make it so it sticks in the position you left it in*/
    animation-name: spinBaby;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}