* {
 cursor: url(imgs/redarrow.png) 0 0 , auto;
}

body{
    /* background-image: url('mylip.png'); */
    background-color: steelblue;
    /* background-repeat: repeat;
    background-size: 120% 30%; */
    overflow: hidden;
    font-family: 'babel_sans';
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: yellow;
}

.blog {
    position: fixed;
    background-color: #fff8dc;
    top: 20%;
    text-align: center;
    left: 40%;
    z-index: 2;
    font-size: 60px;
    opacity: 60%;
    font-size: 60px;
    font-family: 'RawNotice';
    
}

.blog-linx {
    position: fixed;
    top: 41%;
    left: 33%;
    width: 33%;
    height: 7%;
    background-color: powderblue;
    opacity: 100%;
    z-index: 2;
    font-family: 'RawNotice';
}

.by {
    position: fixed;
    top: 28%;
    left: 54%;
    z-index: 2;
    letter-spacing: 15px;
    background-color: yellow;
}

.by:hover {
    color: black;
}

.link {
    margin: 10px;
}

.subscribe {
    position: fixed;
    letter-spacing: 15px;
    top: 70%;
    left: 6%;
    font-size: 20px;
    font-family: 'babel_sans';
    font-style: italic;
    background-color: crimson;
}

.subscribe:hover {
    color: yellow;
}

.pic1 {
    position: fixed;
    width: 21%;
    top: 8%;
    left: 10%;
    opacity: 100%;
}

.pic2 {
    position: fixed;
    width: 11%;
    height: auto;
    top: 20%;
    left: 26%;
    z-index: 1;
}

.pic3 {
    position: fixed;
    width: 7%;
    height: auto;
    top: 50%;
    left: 60%;
    opacity: 70%;
    z-index: 2;
}

.pic4 {
    position: fixed;
    width: 40%;
    height: auto;
    top: 13%;
    left: 31%;
    opacity: 70%;
}

.pic5 {
    position: fixed;
    width: 30%;
    height: auto;
    top: 59%;
    left: 23%;
    opacity: 72%;
}

.pic6 {
    position: fixed;
    width: 13%;
    height: auto;
    top: 59%;
    left: 9%;
    opacity: 90%;
}

.pic7 {
    position: fixed;
    width: 10%;
    height: auto;
    top: 52%;
    left: 73%;
}

.pic8 {
    position: fixed;
    width: 20%;
    height: auto;
    top: 69%;
    left: 57%;
    opacity: 75%;
}

.pic9 {
    position: fixed;
    width: 20%;
    height: auto;
    top: 10%;
    left: 72%;
    opacity: 90%;
}

.pic10 {
    position: fixed;
    width: 15%;
    height: auto;
    top: 60%;
    left: 80%;
}

.pic11 {
    position: fixed;
    width: 30%;
    height: auto;
    top: 30%;
    left: 4%;
    opacity: 40%;
    z-index: -1;
}

/* I like for title, not for subscribe or for body , maybe not me as much */
@font-face {
    font-family: angels_message;
    src: url(fonts/angels_message/Angels\ Message.ttf);
}

/* Really good for body and subscribe, def going to be main font */
@font-face {
    font-family: babel_sans;
    src: url(fonts/babel_sans/BabelSans-Bold.ttf);
}
/* I  like this */
@font-face {
    font-family: FrenchPilates;
    src: url(fonts/FrenchPirates.ttf);
}

/* Maybe for subscribe */
@font-face {
    font-family: HorrorFont;
    src: url(fonts/HorrorFont-Regular.ttf);
}


/* like a lot */ 
@font-face {
    font-family: RawNotice;
    src: url(fonts/RawNotice.ttf);
}
