body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden; 
}

/*  STRIPES */
.one, .two , .three, .four , .five , .six , .seven , .eight , .nine , .ten {
    position: absolute; 
    width: 100vw;
    height: 60px;
    left: 0vw;
}

.one {
    text-align: center;  
    font-size: 30px;  
    background-color: red;
    top: 0vh; 
}

.two {
    background-color: yellow;
    top: 60px;
}

.three {
    background-color: cyan;
    top: 120px;
}

.four {
    background-color: darkorange;
    top: 180px;
}

.five {
    background-color:gold;
    top: 240px;
}

.six {
    background-color: goldenrod;
    top: 300px;
}

.seven {
    background-color:pink;
    top: 360px;
}

.eight {
    background-color: red;
    top: 420px;
}

.nine {
    background-color:deepskyblue;
    top: 480px;
}

.ten {
    background-color:chartreuse;
    top: 540px;
}