* {
 cursor: url(https://github.com/maggie-needham/blog/releases/download/images/redarrow.png) 0 0 , auto;
}

body {
    background-color: steelblue;
    font-family: babel_sans;
    overflow: hidden; 
    height: 100vh;
    text-align: center;
}

@font-face {
    font-family: babel_sans;
    src: url(../fonts/BabelSans.woff2);
}

@font-face {
    font-family: RawNotice;
    src: url(../fonts/RawNotice.woff2);
}